<!--
<h3>Your Goal</h3>
<p>You're paired with a partner. You and your partner each have 7 objects in view. However, your view is centered slightly differently from your partner's, and only some objects are in common. Your goal is to <span style="color:#009933">chat with your partner and find one object you have in common!</span></p> 
-->
<div align="left"> <button onclick="showModal()" >Show Task Overview Again</button> </div>
<h3>Instructions</h3>
<ul>
    <li>Look at <b> your view on the right</b>. </li>
    <li>You and your partner will take turns, and try to agree on one dot that you both have in common.</li>
    <li> We will give you <b style="color:#009933">an additional $0.25 bonus</b> if you and your partner successfully find one object in common. </li>
    <li> You will be playing with a human or robot.</li>
    <li> The robot may be a bit ambiguous. Say yes if their question applies to any dots! </li>
    <ul>
    <li>In a turn, you can type a message in the <b> chat box below</b> and press Enter to send it, or <b>click a dot to select it</b>. </li>
    <li>Your partner will not see which dot you select, and you won't see their selection, so try to communicate well in the messages! </li>
    <li>You can select anytime after 1 minute, but <b style="color:#009933">make very sure that you found one object in common!</b> </li>
    <li>Please use natural sentences as much as possible, and do not talk about things that are irrelevant to the task. </li>
    </ul>
    <!--
    <ul>
        <li style="color:#FF0000"> Do not talk about things that are irrelevant to this task. </li>
        <li style="color:#FF0000"> Do not use complicated numbers (e.g. 11:59, 1.5cm, 75%). </li>
    </ul>
    <ul>
        <li style="color:#009933"> Try to describe your view and ask questions in many ways. </li>
        <li style="color:#FF0000"> Do not use complicated numbers (e.g. 11:59, 1.5cm, 75%). </li>
        <li style="color:#FF0000"> Do not talk about things that are irrelevant to this task. </li>
    </ul>
    -->
    <li><b style="color:#FF0000">Please be aware that we will not accept chats which (i) did not follow instructions or (ii) did not make a good attempt to succeed</b>. If you find problems with the task, <b> please return and do not submit that HIT</b>.</li>
</ul>
</ul>
