certifi
Click
Flask
Flask-SocketIO
#greenlet==1.1.3
#gevent==21.8.0
gevent
greenlet
itsdangerous
Jinja2
MarkupSafe
numpy
psutil
python-engineio
python-socketio
six
Werkzeug
pyopenssl


# onecommon-gpt
datasets
evaluate
openai
scikit-learn
shapely
streamlit
streamlit-chat
matplotlib
tenacity
seaborn
more-itertools
torch

git+https://github.com/justinchiu/MiniChain@chatgpt#egg=minichain
#git+https://github.com/justinchiu/onecommon-gpt

# testing
pytest

# for fried 2021
nltk
einops
wandb
git+https://github.com/justinchiu/pytorch-struct
pyro-ppl
